.App {
  overflow: hidden;
  text-align: center;
}

.header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.header a {
  color: white;
  margin: 0 10px;
}

.App-intro {
  font-size: large;
}

.main-content__wrapper {
  display: flex;
  justify-content: flex-start;
}

.content__wrapper {
  max-width: 1000px;
  margin: auto;
}

* {
  font-family: monospace;
}

.bold {
  font-weight: bold;
}

ul,
ol {
  font-size: 18px;
  line-height: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

ol {
  padding-left: 34px;
}

/* SHARED */
.music__wrapper,
.home__wrapper,
.about__wrapper,
.portfolio__image-wrapper {
  padding: 20px;
  text-align: left;
}

/* HOME PAGE */
.home__text-wrapper {
  font-size: 18px;
}

.portfolio__image-wrapper {
  padding-right: 20px;
}

.portfolio__image-wrapper img {
  height: 320px;
}

/* ABOUT PAGE */
.about__wrapper li {
  margin-top: 10px;
}

.about__wrapper h2 {
  margin-top: 0;
}

/* MUSIC PAGE */
.music__wrapper {
  padding-top: 0;
}

.music__meta-wrapper a {
  display: inline-flex;
}

.music__text-wrapper {
  padding-left: 10px;
}

/* MOBILE */
@media screen and (max-width: 700px) {
  .main-content__wrapper {
    display: block;
  }

  .portfolio__image-wrapper {
    padding-bottom: 0;
    text-align: center;
  }

  .portfolio__image-wrapper img {
    height: auto;
    margin: auto;
    padding-right: 0;
    width: 90%;
  }
}
